/* Custom font */
@font-face {
    font-family: font--primary;
    src: url('../fonts/aqua.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 0.725em 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-family: font--primary;
    font-weight: 500;
    font-size: 1.3rem;
    color: #333;
  }
  
  .nav--right {
    display: flex;
    gap: 2em;
  }
  
  .nav--right a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.89rem;
    letter-spacing: 1px;
    color: #333;
    position: relative; /* Required for positioning the underline */
  }
  
  .nav--right a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #333; /* Color of the underline */
  position: absolute;
  bottom: -5px; /* Adjust this value to control the distance between the text and the underline */
  left: 0;
  transition: width 0.3s ease; /* Animation for the underline width */
  }
  
  .nav--right a:hover::after,
  .nav--right a:visited::after {
  width: 100%; /* Expand the underline to the full width of the link on hover and for visited links */
  }
  
  
  /* NAVBAR HAMBURGER */
  
  #menuToggle {
    display: none;
    position: relative;
    z-index: 1;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato;
  }
  
  #menuToggle input {
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
  }
  

  #menuToggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
  hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
  * last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
  * Make this absolute positioned
  * at the top right of the screen
  */
  #menu {
    position: absolute;
    right: -12px;
    width: 124px;
    /* width: 40%; */
    padding: .5em;
    background: #fff;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05,
    1.0);
  
  }
  
  #menu li {
    padding: 5px 0;
    font-size: .9em;
  }
  
  /*
slide it in from the left
  */
  #menuToggle input:not(:checked) ~ ul {
    display: none;
  }
  
  #menuToggle input:checked ~ ul {
    display: block;
    transform: none;
  }

  /* Responsive Styles */
  
  @media (max-width: 700px) {
  
    .navbar {
      padding: .5em 1em;
    }
    .nav--right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      padding: 0;
    }
    
    .nav--right {
        display: flex;
        flex-direction: row;
    }
    .about a {
        font-size: .6rem;
    }
    .contact a {
        font-size: .6rem;
    }
  
  }
  
  /* responsive */
  @media (max-width: 700px) {
    .nav--right {
    display: none;
    }
    #menuToggle {
    display: block;
    }
  }


  /* main styles */

.main {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;

    padding: 2em 3em;
}

.right {
    width: 50%;

    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom img {
    width: 28px;
    height: 28px;
}

.email,.phone,.home,.location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}


.left {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.left h1 {
    font-family:'Inter';
}

.left p {
    font-family: 'Inter';
}

form label {
    font-family: 'Inter';
}

.contact--form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container{
	position:relative;
	/* margin-bottom:25px; */
}



.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    /* padding:8px 0 5px 0; */
    font-size:16px;
    color:#090909;
}

.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:2px solid black;	
}
.btn{
    color:#fff;
    background-color:#e74c3c;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}
/*.btn:after{
    content:"";
    position:absolute;
    background:rgba(0,0,0,0.50);
    top:0;
    right:0;
    width:100%;
    height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
    
}

textarea{
    all: unset;
    margin-top: 10px;
    border: 1.2px solid black;
    border-radius: 5px;
}

/* CSS */
.submit-bttn {
background-color: #1e1c1a;
border: 1px solid transparent;
border-radius: .25rem;
box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
color: #fff;
cursor: pointer;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.25;
margin: 0;
min-height: 3rem;
position: relative;
text-decoration: none;
transition: all 250ms;
user-select: none;
-webkit-user-select: none;
width: auto;
}

.submit-bttn:hover,
.submit-bttn:focus {
background-color: #fb8332;
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submit-bttn:hover {
transform: translateY(-1px);
}

.submit-bttn:active {
background-color: #c85000;
box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
transform: translateY(0);
}

.sub--container {
    color: #fff;
    margin-left: 9em;
    height: 80%;
    width: 65%;

    font-family: 'Inter';

    background-color: #090909;
    border: 3px solid #090909;
}

.sub--container {
    padding: 2em 3rem;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2em;

    box-shadow: rgba(0, 0, 0, 0.862) 0 1px 3px 0;

}

.email,.phone,.home,.location {
    margin-top: 10px;
}

@media (max-width:850px) {

    .main {
        display: flex;
        flex-direction: column;
        
        gap: 2em;
    }

    .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sub--container {
        width: 50%;
        margin: 0;
    }

    .left p {
        font-weight: 600;
    }

    .left h1 {
        font-weight: 900;
    }

    

}

@media (max-width:450px) {
    .sub--container {
        width: 100%;
    }
}

/* TABLE */

.hours {
    width: 100%;
    height: 100vh;

    padding: 2em 3em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.location--map {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;

    padding: 2em 3em;

    font-family: 'inter';

}

.location--map iframe {
    width: 100%;
    height: 80vh;
    
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

@media (max-width:700px) {
    .hours {
        /* padding: 2em 3em; */
    }

    .styled-table {
        min-width: 90%;
    }
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1em 3em;

    background-color: #090909;
}

.fr {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer h4 {
    font-family: font--primary;
    color: #fff;
    font-weight: 500;
}

.footer li  {
    font-family: 'Inter';
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    letter-spacing: .9px;
    cursor: pointer;
    transition: color .4s ease-in;
}

li a:hover {
    color: #009879;
}