@font-face {
  font-family: myfont;
  src: url(../aqua-webfont.woff);
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9dc;
}

.nav--main {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftnav a {
  color: #000000;
  font-family: myfont;
  font-size: 150%;
  text-decoration: none;
  padding-left: 1.5em;
}

.rightnav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.rightnav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.vehicles {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-bottom: 0;
}

.container {
  display: flex;
  padding: 5px 5px 0px 5px;
}
.v1,
.v2,
.v3 {
  padding-right: 5px;
  padding-left: 5px;
  object-fit: cover;
}

.container img {
  width: 100%;
  height: 95%;
  margin-bottom: 0em;
}
.vehicles {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 0.8em 2em 0.5em 0em;
  margin: 0em 0.5em 0.5em 0.5em;
}

.left-footer a {
  color: #000000;
  font-family: myfont;
  font-size: 150%;
  text-decoration: none;
  padding-left: 2.5em;
  display: flex;
}

.right-footer {
  margin-right: 2.5em;
}

.f1,
.f2,
.f3 {
  display: flex;
  float: right;
  align-items: center;
  gap: 3rem;
  padding: 0 0 0 1em;
}
